
body {
	font-family: "Poppins", sans-serif;
    font-size: 100%;
    font-weight: 400;
    font-size-adjust: none;
}

.container {
	margin: auto;
    box-sizing: border-box;
	width: 50%;
	padding: 20px;
	background-color: transparent;

}

h1, h2 {
	text-align: center;
	color: black;
	font-style: oblique ;
	font-family: cursive;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	display: inline-block;
	margin-bottom: 10px;
	font-weight: bold;
	color: white;
}

input[type="text"], input[type="date"], input[type="number"] {
	padding: 10px;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #ddd;
}

button {
	padding: 10px;
	margin-top: 20px;
	background-color:blueviolet;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

button:hover {
	background-color: black;
}
